@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fdf9fd;
}
#firstnum {
  margin-top: 1.5em;
}
#firstnum,
#secondnum,
#units {
  margin-bottom: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid;
  width: 17em;
}
#firstnum:focus,
#secondnum:focus,
#units:focus {
  border: 1px solid #a900f7;
  outline: none;
}

h1 {
  margin: 1.5rem 0em 0.25rem 0em;
  font-size: 3rem;
}

#solve {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1.875rem;
  text-align: center;
  width: 6rem;
  color: rgb(25, 1, 24);
  background-repeat: no-repeat;
  background: rgb(1, 255, 0);
  border: none;
  border-radius: 7px;
  outline: none;
  box-shadow: 2px 3px 5px #dfdede;
  transition: 0.3s;
}
#solve:hover,
#circum:hover,
#area:hover {
  box-shadow: 5px 7px 8px #ffffff00;

  box-shadow: 0px 4px 6px #abaaaa;
}
#summary {
  text-decoration: underline rgb(255, 0, 0);
}
#circum {
  width: 8.5rem;
  border: none;
  outline: none;
  height: 1.875rem;
  color: #330703;
  background: rgb(0, 186, 200);
  box-shadow: 3px 4px 6px #dfdede;
  border-radius: 7px;
  margin: 0 0.3rem;
  transition: 0.3s;
}
#area {
  height: 1.875rem;
  width: 8.5rem;
  border: none;
  outline: none;
  color: #d4f0d6;
  border-radius: 7px;
  background: rgb(237, 55, 225);
  margin: 0 0.3rem;
  box-shadow: 3px 4px 6px #dfdede;
  transition: 0.3s;
}
